body {
	font-family: sans-serif;
	margin-top: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-right: 0px;
    padding: 0
}
#box{
	background-color: #1C86EE;
	height: 185px;
	width: 100%;
}
h1{
	text-align: center;
	font-size: 90px;
	font-family: futura, trebuchet, sans-serif
	padding: 0;
	margin: 0px;
}
h2{
	text-align: center;
	font-size: 50px;
	font-family: futura, trebuchet, sans-serif
	padding: 0;
	margin: 0px;
}
table.nav{
	table-layout: none
	padding: 0px;
}
td.nav{
	display: inline-block;
	width: 90px;
	height: 90px;
}
div.header {	
	height: 80px;
	width: 80px;
	border: 1px transparent;
	border-radius: 40px;
	background-color: #1C86EE;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	float: right;
	position: fixed;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	display: inline;
	padding": 10px, 10px, 10px, 10px;
	margin: 10px, 10px, 20px, 10px;
}
div.header:hover{
	background-color: #000000;
	font-style: 
}
#headtext {
	margin: 10px, 10px, 20px, 10px;
}
#text1{
	width: 700px;
	vertical-align: center;
	margin: 0 auto;
}

}
p {
	font-family: sans-serif;
	font-size: 20px;
	width: 50%;
	float: left;
	margin-left: 20%;
	margin-right: 30%



	
}

